html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
/* maim-menu */
.main-nav {
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 105px;
  padding-top: 38px;
  /* background-color: aqua; */
}
.maim-menu {
  /* display: inline-block; */
  float: right;
  width: 464px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  font-style: none;
  font-size: 14px;
  /* background-color: lawngreen; */
  /* vertical-align: middle; */
}
.maim-menu li {
  /* display: inline-block; */
  float: left;
}
.site-logo {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  /* vertical-align: middle; */
}
.site-logo {
  font-size: 30px;
  font-family: Roboto;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
}
.site-logo::first-letter {
  color: rgb(26, 188, 156);
  font-weight: 900;
}
.site-logo:hover {
  color: rgb(26, 188, 156);
}
.maim-menu a {
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.maim-menu li:not(:last-child) {
margin-right: 30px;
}
.maim-menu a:hover,
.maim-menu a:focus {
  color: rgb(26, 188, 156);
}
/* .maim-menu-home {
  margin-right: 34px;
}
    
.maim-menu-about_us {
  margin-right: 38px;
}
    
.maim-menu-page {
  margin-right: 32px;
}
.maim-menu-shop {
  margin-right: 28px;
}
.maim-menu-blog {
  margin-right: 28px;
}
.maim-menu-contact_us {
  margin-right: 30px;
} */
/* .maim-menu-link:hover {
  color: rgb(26, 188, 156);
} */
/* .maim-menu a:hover,
.maim-menu a:focus {
  color: rgb(26, 188, 156);
} */

/* container */
.container {
  /* display: inline-block; */
  width: 1110px;
  margin: 0 auto;
  background-color: lightcoral;
  
}
.featured_products {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #515151;
  /* background-color: lightblue; */
}
.rectangle_1 {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 164px;
  height: 8px;
  background-color: rgb(26, 188, 156);
  margin-top: 32px;
  margin-bottom: 92px;
}

.featured_products-list {
  /* display: inline-block; */
  margin: 0;
  padding: 0;
  list-style: none;
}
.featured_products-list-item:nth-child(4n + 4) {
  margin-right: 0;
}
.featured_products-list-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.featured_products-list-item {
  /* display: inline-block; */
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
}
.featured_products_title {
  float: left;
  width: 200px;
  height: 40px;
  background-color: #323232;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 14px;
  padding-top: 7px;
}
/* .featured_products-list-item-link {
  width: 255px;
  height: 322px;
} */
/* .featured_products_hover {
  width: 255px;
  height: 322px;
} */
.featured_products-list a:hover {
  color: rgb(26, 188, 156);
}
.featured_products_price {
  /* display: inline-block; */
  float: right;
  width: 55px;
  height: 40px;
  background-color: #8c8c8c;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 14px;
  padding-top: 7px;
}
/* container_latest_news */
.latest_news {
  margin: 0;
  padding: 0;
  padding-top: 105px;
  font-size: 48px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #515151;
  /* background-color: lightblue; */
}
/* .container_latest_news {
  /* display: inline-block; */
  /* margin: 0;
  padding: 0;
  list-style: none;
} */
.latest_news_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.latest_news_list_item:nth-child(3) {
  margin-right: 0;
}
.latest_news_list_item {
  float: left;
  margin-right: 30px;
  margin-bottom: 80px;
  padding: 0;
}
.latest_news_title {
  /* display: inline-block; */
  
  width: 350px;
  height: 70px;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 100;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #555252;
}
.rectangle_2 {

  width: 136px;
  height: 4px;
  background-color: rgb(26, 188, 156);
  /* margin-top: 10px;
  margin-bottom: 26px; */
}
.latest_news_text {
  /* display: inline-block; */
  width: 350px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 100;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #555252;
}
.button {
  /* display: inline-block; */
  width: 160px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: rgb(26, 188, 156);
  color: rgb(255, 255, 255);
}



