html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
ul, li {
  list-style: none;
}
.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}
/* maim-menu */
.container_main-nav {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
.container {
  background-color: #e9f0fd;
  height: 676px;
  background-size: cover;
}
.main-nav {
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 28px;
  padding-top: 28px;
}
.maim-menu {
  float: right;
  width: 476px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  font-style: none;
  font-size: 14px;
  
}
.maim-menu li {
  float: left;
}
.site-logo {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.site-logo {
  font-size: 30px;
  font-family: Roboto;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
}
.site-logo::first-letter {
  color: rgb(26, 188, 156);
  font-weight: 900;
}
.site-logo:hover {
  color: rgb(26, 188, 156);
}
.maim-menu a {
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.maim-menu li:not(:last-child) {
margin-right: 30px;
}
.maim-menu a:hover,
.maim-menu a:focus {
  color: rgb(26, 188, 156);
}
/* carousel */

.carousel {
  background-image: linear-gradient(rgb(0, 0, 0, 0.52), rgb(0, 0, 0, 0.52)), url(../img/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 209px;
  padding-bottom: 285px;
  color: rgb(255, 255, 255);
}
.container_carousel {
  
  width: 1110px;
  margin: 0 auto;
}
.carousel__button_wrapper {
  position: relative;
}
.carousel_title
{
  font-size: 60px;
  font-family: "Roboto";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 82px;
  text-decoration: none;
  text-align: center;
}
.carousel_content {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 54px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 180px;
}
.button_carousel {
  background-color: rgb(26, 188, 156);
  width: 104px;
  height: 104px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
.prev {
  position: absolute;
  left: 0;
  background-image: url(../img/prev\ arrow.png);
}
.next {
  position: absolute;
  right: 0;
  background-image: url(../img/next\ arrow.png);
}
.inactive-btn {
  background-color: rgb(26, 188, 156, .65);
}

/* new_collection */


.new_collection {
  background-color: #e9f0fd;
}

.container_new_collection {
  width: 1110px;
  margin: 0 auto;
  /* padding-bottom: 100px; */
}

.container_new_collection_title {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #515151;
  padding-top: 96px;
  padding-bottom: 80px;
}
.container_new_collection_title::after {
  content: "";
  display: block;
  width: 164px;
  height: 8px;
  background-color: rgb(26, 188, 156);
  margin: 0 auto;
  margin-top: 32px;
}

.card_name {
  float: right;
  width: 255px;
  height: 40px;
  background-color: #323232;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 14px;
  padding-top: 10px;
}
.card_price {
  position: absolute;
  right: 0;
  width: 55px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 10px;
}
.card_name:hover {
  background-color: rgb(26, 188, 156);
}
.new_collection-card {
  position: relative;
  width: 255px;
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
  padding: 0;
}
.new_collection-card:nth-child(4n + 4) {
  margin-right: 0;
}
.new_collection-card:hover .overlay {
  display: block;
}
.overlay {
  position: absolute;
  width: 255px;
  height: 282px;
  background-color: rgb(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  border: 10px solid rgb(255, 255, 255, 0.5);
  background-clip: padding-box;
  display: none;
}
.overlay_list {
  width: 168px;
  margin: 0 auto;
  padding-top: 79px;
}
.overlay_list_item {
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
}
.overlay_list_item:nth-child(3n + 3) {
  margin-right: 0;
}
button {
  border: 1px solid rgb(255, 255, 255);
}
.overlay_list_item_link {
  display: block;
  width: 50px;
  height: 50px;
  background: transparent;
}
.overlay_list_item_link_add {
  display: block;
  width: 168px;
  height: 50px;
  background: transparent;
}
.overlay_list_item_link_like {
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-position: center; 
  cursor: pointer;
}
.overlay_list_item_link_arrow {
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center; 
  cursor: pointer;
}
.overlay_list_item_link_time {
  background-image: url(../img/time.png);
  background-repeat: no-repeat;
  background-position: center; 
  cursor: pointer;
}
.overlay_list_item_link:hover {
  background-color: #1abc9c;
  border: none;
}
.overlay_list_item_link_add_to {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 30px;
  background-image: url(../img/add_to_cart.png);
  background-repeat: no-repeat;
  background-position: left 5px center; 
  cursor: pointer;
}
.overlay_list_item_link_add_to:hover {
  background-color: #323232;
}
/* footer */
.footer {
  
  background-color: #323232;
  background-size: cover;
}
.footer_container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 32px;
}
.footer_text {
  float: left;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 375px;
  
}
.footer_text_link {
  float: left;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgb(26, 188, 156);
  margin-left: 5px;
}


