html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */
/* .clearfix::after {
  display: table;
  content: "";
  clear: both;
} */
ul, li {
  list-style: none;
}
.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}
/* header */
.container_main-nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: rgb(104, 113, 153); */
}
.main-nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 26px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 115px;
}
.maim-menu {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat";
  font-weight: 400;
}
.maim-menu-link {
  color: #95e1d3;
}
.maim-menu:not(:last-child) {
  margin-right: 58px;
}
.maim-menu-list {
  display: flex;
}
.maim-menu-link::after {
  display: block; 
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
}
.maim-menu-link:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.site-logo {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  text-decoration: none;
  color: #95e1d3;
  line-height: 1.2;
}
.site-logo::first-letter {
  text-transform: uppercase;
  color: #95e1d3;
  font-weight: 900;
}
/* .site-logo:hover {
  color: rgb(26, 188, 156);
} */
a {
  text-decoration: none;
}

.maim-menu a:hover,
.maim-menu a:focus {
  color: rgb(243, 129, 129);
}
/* main */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: khaki; */
}



/* Amazing_Services */
.Amazing_Services_wrap {
  width: 100%;
  max-width: 1182px;
  margin: 0 auto;
  /* background-color: rgb(107, 167, 72); */
  
}
.Amazing_Services_title_wrap {
  /* display: flex; */
  /* justify-content: center; */
  align-items: flex-start;
  width: 1182px;
  text-align: center;
}
/* .bloc1 {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
}
.bloc2 {
  width: 100px;
  height: 100px;
  background-color: rgb(82, 151, 60);
} */

.Amazing_Services_title_cursive{
  /* font-size: 24px;
  font-family: "KaushanScript";
  color: rgb(51, 51, 51);
  line-height: 1.2; */
  margin-bottom: 27px;
}
.Amazing_Services_title {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 63px;
  /* text-align: center; */
}
.Amazing_Services_title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin: 0 auto;
  margin-top: 40px;
}

.Amazing_Services_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.Amazing_Services_list_item {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  max-width: 382px;
  /* margin-right: 18px; */
  margin-bottom: 100px;
  /* background-color: lightcyan; */
  /* align-items: center; */
}
/* .Amazing_Services_list_item:nth-child(3n + 3) {
  margin-right: 0;
} */
.Amazing_Services_list_item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.Amazing_Services_list_item_wrap {
  width: 100%;
  max-width: 300px;
}
.Amazing_Services_icon_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 82px;
}
.Amazing_Services_list_item_title {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: normal;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 14px;
}
.Amazing_Services_list_item_text {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
}




/* footer */
/* .footer {
  
  background-color: #323232;
  background-size: cover;
}
.footer_container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 32px;
}
.footer_text {
  float: left;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 375px;
  
}
.footer_text_link {
  float: left;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgb(26, 188, 156);
  margin-left: 5px;
}
.MoGo {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  z-index: 100;
} */



